.item {
  background-color: wheat;
  border-radius: 15px;
  padding: 15px;
  font-family: "IBM Plex Sans";
  margin: 15px;
}

.header {
  background-color: rgb(135, 0, 0) !important;
  color: white;
}
