.item {
  background-color: wheat;
  border-radius: 15px;
  padding: 15px;
  font-family: "IBM Plex Sans";
  margin: 15px;
  display: flex;
  justify-content: center;
}

.layout {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.item input {
  background-color: rgb(211, 192, 155);
  border-radius: 5px;
  font-family: "IBM Plex Sans";
  display: flex;
  border: none;
  font-size: 1em;
  width: 100%;
}

.header {
  background-color: rgb(135, 0, 0) !important;
  color: white;
}

.button {
  height: 100%;
  color: white;
  background-color: rgb(135, 0, 0);
  font-family: "IBM Plex Sans";
  transition: 0.25s;
}

.button:hover {
  color: rgb(135, 0, 0);
  background-color: white;
}
