.tabs {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(135, 0, 0);
  border-radius: 15px;
  box-shadow: 0 1px 3px black;
  z-index: 1;
  overflow-x: hidden;
}

.pointer {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(218, 165, 32, 0.5) 50%,
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
  z-index: 2;
}

.topLevel {
  z-index: 3;
}
